<div class="container pt-xl-5">
  <div class="row m-3">
    <div class="col-12 col-xl-4">
      <div class="scrolling-wrapper border shadow overflow-auto">
        <div class="d-flex border shadow m-3"
             *ngFor="let film of films"
             [routerLink]="film.id"
             routerLinkActive="bg-primary">
          <div class="image-wrapper">
            <img [src]="film.location" alt="Film">
          </div>
          <div class="p-3">
            <h5>{{ film.title }}</h5>
            <p>{{ film.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-8">
      <div class="scrolling-wrapper border shadow overflow-auto">
        <div class="container mt-3">
          <h5 class="text-center">{{ selectedCategory.name }}</h5>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>




